@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700;800&display=swap");

.grid {
  width: 606px;
  display: flex;
  flex-wrap: wrap;
  margin-left: 450px;
}

.square {
  width: 200px;
  height: 200px;
  border: solid #135e5f 1px;
}

.mole {
  background-image: url("img/cute-teddy-bear-waving-hand-cartoon-icon-illustration_138676-2714_200x200.png");
  background-size: cover;
}

body {
  background-color: #beebec;
  color: #135e5f;
  font-family: "Noto Sans", sans-serif;
  text-align: center;
}

h2 {
  display: inline-block;
  font-size: 30px;
}

#score {
  margin-right: 30px;
}
